@import url("https://fonts.googleapis.com/css?family=K2D&display=swap");
@font-face {
  font-family: fa-regular;
  src: url(../webfonts/fa-regular-400.woff2);
}

@font-face {
  font-family: fa-solid;
  src: url(../webfonts/fa-solid-900.woff2);
}

body {
  font-family: 'K2D', sans-serif;
}

.bg-orange {
  background-color: #4267b2;
}

.title-lt-wd {
  color: #4267b2;
}

.title-lt-wd .underlinetext {
  display: inline-block;
}

.title-lt-wd .underlinetext::after {
  content: " ";
  position: relative;
  display: block;
  border-bottom: 2px solid #4267b2;
  bottom: -9px;
}

.more a {
  text-decoration: none;
  color: #4267b2;
}

.more a:hover {
  text-decoration: underline;
}

.dropcus .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #4267b2;
}

.navlinkcus:hover {
  color: #4267b2 !important;
}

.navlinkcus:active {
  color: #4267b2 !important;
}

.navlinkcus:focus {
  color: #4267b2 !important;
}

.oftenmenu {
  background-color: #4267b2 !important;
}

.oftenmenu .link {
  border-radius: 10px;
  padding: 0;
}

.oftenmenu .link:hover {
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 0;
  color: #4267b2 !important;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.banner {
  padding: 5.25rem 0;
  background-color: #f1f1f1;
  color: #dfdfdf;
}

.dir {
  margin: 0rem auto;
}

.tabcenter {
  background-color: #4267b2 !important;
  margin: 0 auto;
}

.title-left-menu {
  background-color: #4267b2 !important;
  margin: 0 auto;
}

.sub-left-menu {
  background-color: #f1f1f1;
}

.sub-left-menu a {
  color: #333333;
  display: block;
  padding: 0 .75rem;
  border-radius: 10px;
}

.sub-left-menu a::before {
  font-family: "fa-regular";
  content: "\f105";
  display: inline-block;
  padding-right: 10px;
  font-weight: 400;
}

.sub-left-menu a:hover {
  color: #ffffff;
  background-color: #4267b2 !important;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.school {
  background-color: #f1f1f1;
}

.school a {
  color: #333333;
  display: block;
  border-radius: 10px;
}

.school a::before {
  font-family: "fa-solid";
  content: "\f105";
  display: inline-block;
  color: #4267b2;
  padding-right: 10px;
  font-weight: 400;
}

.school a:hover {
  color: #4267b2 !important;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  background-color: none;
}

.nounderln {
  display: inline-block;
}

.nounderln::after {
  content: " ";
  position: relative;
  display: block;
  margin-bottom: 2px;
}

.announce {
  background-color: #f1f1f1;
}

.listannounce a {
  color: #333333;
  display: block;
  border-radius: 10px;
}

.listannounce a::before {
  font-family: "fa-solid";
  content: "\f0a1";
  display: inline-block;
  color: #4267b2;
  padding-right: 10px;
  font-weight: 400;
}

.listannounce a:hover {
  color: #4267b2 !important;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.listannounce a::after {
  content: " ";
  position: relative;
  display: block;
  border-bottom: 1px solid #c3c3c3;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
}

.listannounce .date-small {
  font-size: .25rem;
  color: #bfbfbf;
  margin-left: 10px;
}

.listdownload a {
  color: #333333;
  display: block;
  border-radius: 10px;
}

.listdownload a::before {
  font-family: "fa-solid";
  content: "\f019";
  display: inline-block;
  color: #4267b2;
  padding-right: 10px;
  font-weight: 400;
}

.listdownload a:hover {
  color: #4267b2 !important;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.listdownload a::after {
  content: " ";
  position: relative;
  display: block;
  border-bottom: 1px solid #c3c3c3;
  top: 10px;
  bottom: 0;
  right: 0;
  left: 0;
}

.listdownload .date-small {
  font-size: .25rem;
  color: #bfbfbf;
  margin-left: 10px;
}

.bot-menu {
  background-color: #f1f1f1;
}

.bot-menu a {
  color: #333333;
  display: block;
  padding: 0 .75rem;
  border-radius: 10px;
}

.bot-menu a::before {
  font-family: "fa-regular";
  content: "\f105";
  display: inline-block;
  padding-right: 10px;
  font-weight: 400;
}

.yearreport a {
  color: #333333;
  display: block;
  border-radius: 10px;
}

.yearreport a::before {
  font-family: "fa-solid";
  content: "\f019";
  display: inline-block;
  color: #4267b2;
  padding-right: 10px;
  font-weight: 400;
}

.yearreport a:hover {
  color: #4267b2 !important;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  background-color: none;
}

.headfooter {
  background-color: #4267b2;
}

.headfooter p {
  margin-bottom: 0;
}

.copyright {
  background-color: #24417a;
}

a.text-menu-hover {
  text-decoration: none !important;
}

a.text-menu-hover:hover {
  color: #4267b2 !important;
}

a.text-menu-hover::focus {
  color: #4267b2 !important;
}

.title-name {
  background-color: #4267b2 !important;
  color: white;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0;
  font-family: "fa-regular";
  content: "\f107";
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.btn-outline-cusblue:not(:disabled):not(.disabled).active, .show > .btn-outline-cusblue.dropdown-toggle {
  color: #fff;
  background-color: #4267b2!important;
  border-color: #7a9fe9!important;
}
.btn-outline-cusblue {
  color: #4267b2!important;
  border-color: #4267b2!important;
}
.btn-outline-cusblue:focus, .btn-outline-cusblue.focus {
  box-shadow: 0 0 0 0.2rem rgba(66, 103, 178, 0.5)!important;
}